<section>
  <h3>Here are some key points about Standalone components</h3>
  <div appHighlight>
    <ul>
      <li><b>No NgModules</b> Standalone components need not to be declared in NgModules</li>
      <li><b>Simpler development</b> They streamline the development experience</li>
      <li><b>Can be used with NgModules</b> Standalone components can still be used with NgModules</li>
    </ul>
  </div>
  <p>
    Overall, Standalone components are a powerful feature that can help
  </p>
</section>
<button (click)="OnClick()">{{ action }}</button>
