<div class="overlay">
	<div class="popup">
        <h2>{{CurrentTask?.title}}</h2>
        <hr>
		<a class="close" href="#" (click)="CloseTaskDetailClicked()">&times;</a>
		<div class="content">
			<section class="container">
                
                <h3>Description</h3>
                <p>
                    {{CurrentTask?.description}}
                </p>
                <div style="display: flex; margin-top: 20px;">
                    <div style="width: 50%;">
                        <strong>Assigned To: </strong>
                        {{CurrentTask?.assignedTo}}
                    </div>
                    <div style="width: 50%;">
                        <strong>Created At: </strong>
                        {{CurrentTask?.createdAt}}
                    </div>
                </div>
                <div style="display: flex; margin-top: 20px;">
                    <div style="width: 50%;">
                        <strong>Priority: </strong>
                        {{CurrentTask?.priority}}
                    </div>
                    <div style="width: 50%;">
                        <strong>Current Status: </strong>
                        {{CurrentTask?.status}}
                    </div>
                </div>
            </section>
		</div>
	</div>
</div>

